* {
  -webkit-box-sizing: border-box; /* Safari et Chrome, autres WebKit */
  -moz-box-sizing: border-box;    /* Firefox, autres Gecko */
  box-sizing: border-box;         /* Opera et IE 8+ */
}

html {
font-family: dolce_vita;/*'Sanchez', serif, Coolvetica, sans-serif;*/
font-size: 15px;
}

body {
background-image: url(Images/bg-logo.jpg);
background-attachment: fixed;
line-height: 1.5;
color: #141412;
padding: 0;
margin: 0;
}

#page {
border: medium none;
max-width: 2700px;
width: 100%;
margin-top: 200px;
}

#site-header {
display: inline-block;
width: 100%;
position: fixed;
z-index: 4;
background-color: black;
color: white;
font-size: 15px;
font-style: normal;
text-transform: uppercase;
letter-spacing: 0.25em;
font-family: 'Sanchez', serif, Coolvetica, sans-serif; /* OU Adam*/
}

#nav_logo {
max-width: 40px;
}

ul {
list-style-type: none;
}

#nav li {
display: inline;
}

#nav {
text-align: center;
}

#nav a {
display: inline-block;
margin: 0px 45px;
position: relative;
}

a:link {
color: white;
text-decoration: none;
}

a:visited {
color: white;
}

ul li a:hover {
color: #1C59A5;
}

li a:before {
background: rgba(0, 0, 0, 0);
bottom: -15px;
content: "";
left: -20px;
position: absolute;
right: -20px;
top: -20px;
}

#logo {
max-width: 260px;
margin-left: 542px;
margin-top: 200px;
transition: transform 1.5s;
}

#div_log img:hover {
transform: rotate(360deg);
}

p.bande_horizontale {
background-color: rgba(28, 89, 165, 0.2);
height: 300px;
width: 100%;
padding: 15px;
z-index: 2;
margin: 0;
color: white;
}

.blanc1 {
background-color: white;
z-index: -1;
position: absolute;
margin: 0;
padding: 50px;
height: 320px;
background-attachment:fixed;
}


.blanc_image {
background-color: white;
z-index: 2;
margin: 0;
padding: 15px;
height: 520px;
background-attachment:fixed;
background-image:url(images/essai.png);
background-repeat:no-repeat;
}



}

.blanc_image p {
	padding: 50px 600px;
}


#petit_rond_1 {
margin-top: 120px;
margin-left: 615px;
margin-bottom: 120px;
}

p.bande_verticale {
height: 600px;
width: 250px;
float: right;
background-color: yellow;
position: relative;
z-index: 3;
margin-right: 20px;
padding: 20px;
}


#baniere_blanche {
	position: absolute;
	top: 900px;
	left:-334px;
	right: -0px;
	overflow: hidden;
}

#baniere_bleu {
	position: absolute;
	top: 2490px;
	left:-334px;
	right: -0px;
	overflow: hidden;
}

#logo_bleu {
	position: relative;
}

#triangle {
position: absolute;
top: 540px;
right: 670px;
animation: triangle_bouge 0.42s ease infinite alternate;
}

@keyframes triangle_bouge {
	  from {
	  	transform: translateY(0);
	  }
     to   {
     	transform: translateY(-25px);
     }
}


.bleu {
background-color: #1C59A5;
height: 300px;
margin-top: -10px;
}



#vers_top_page {
	position: fixed;
	top: 85%;
	right: 45px;
	height: 50px;
	cursor: pointer;
	z-index: 100;
}





h3 {
	margin: 150px 500px;
	color: white;
	padding-left: 45px;
	padding-top: 0px;
	height: 100px;
	font-size: 42px;

}

#texte {
	color: white;
	margin: -40px 300px;
	padding-bottom: 100px;
}
#fb{
 	margin: -150px 540px;
 	position: absolute;
 	transition: transform 3.5s;
 }

  #mail{
  	margin: -150px 630px;
 	position: absolute;
 	transition: transform 3.5s;
}

  #twitter{
  	margin: -150px 720px;
 	position: absolute;
 	transition: transform 3.5s;
}

  #instagram{
  	margin: -150px 810px;
 	position: absolute;
 	transition: transform 3.5s;
}


 .divContact img {
width:60px;
height:60px;

}

 .divContact img:hover {
/*transform: rotate(360deg); /*a voir si on laisse juste le zoom */
width:90px;
height:90px;

}


footer {
	background-color: black;
	height: 70px;
	position: relative;

}

@font-face {
	font-family: 'Coolvetica';
	src: url(Polices/coolvetica/coolvetica_rg.ttf);
}
@font-face {
	font-family: 'Sanchez';
	src: url(Polices/sanchez/Sanchezregular.otf);
}
@font-face {
	font-family: 'blake';
	src: url(Polices/blake2.ttf);
}
@font-face {
	font-family: 'Adam';
	src: url(Polices/Adam.otf);
}
@font-face {
	font-family: 'dolce_vita';
	src: url(Polices/dolce_vita/Dolce_Vita.ttf);
}
@font-face {
	font-family: 'caviar_dreams';
	src: url(Polices/caviar_dreams/CaviarDreams.ttf);
}






